<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ryanbrummet.newaudiosense2" >

    <uses-sdk
        android:maxSdkVersion="20"
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <uses-permission android:name="android.permission.FLASHLIGHT"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal"/>

    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:launchMode="singleTask"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:logo="@drawable/ic_launcher"
        android:label="Audiology EMA"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".AudioSense.Main.AudioSenseActivity"
            android:label="Audiology EMA"
            android:icon="@drawable/ic_launcher"
            android:logo="@drawable/ic_launcher"
            android:screenOrientation="portrait"
            android:clearTaskOnLaunch="true"
            android:launchMode="singleTask">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:enabled="true"
            android:name=".AudioSense.Main.TimingManager"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver
            android:enabled="true"
            android:name=".AudioSense.Main.SurveyCountManager"/>

        <receiver
            android:enabled="true"
            android:name=".AudioSense.Main.EndStudyManager"/>

        <service
            android:name=".AudioSense.Main.AudioSampleService"
            android:permission="android.permission.RECORD_AUDIO"
            />

        <service
            android:name=".AudioSense.Main.AudioSurveySampleService"
            android:permission="android.permission.RECORD_AUDIO"
            />


    </application>

</manifest>